/*Start: Form-popup*/
/* container */
.formPopup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
    overflow-y: auto;
}

.formPopup.active{
    display: block;
}

/* form */
.formPopup form{
    /* max-width: 750px; */
    width: 60%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px; 
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
}

/* updateOrderFrm include 2 parts: product details and user's info,
    so let it be displayed as block, not flex
*/
.formPopup form:not(.updateOrderFrm){
    display: flex;
    /* height: 70%; */
    transform: translate(-50%, -50%);
}

.formPopup .updateOrderFrm{
    transform: translate(-50%, -40%);
}

.formPopup form .close-btn{
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    font-size: 30px;
    background-color: gold;
    padding: 5px;
    cursor: pointer;
}

/* add-form: add image */
.formPopup .change_img{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    width: 30%;
    border-right: 1px solid black;
}

.formPopup .change_img img{
    width: 50%;
}

.formPopup .change_button{
	width: 100px;
	text-align: center;
	padding: 4px 3px;
	margin: 20px 10px 20px 0;
	border: none;
	border-radius: 3px;
	background-color: gold;
    color: black;
	cursor: pointer;
    transition: 0.2s;
}

.formPopup .change_button:hover{
	background-color: #DCDCDC;
    color: #333;
    transform: translateY(-1px);
}

.formPopup input[type="file"]{
	display: none;
}

/* info */
.formPopup .info{
    width: 60%;
    padding: 5px 5px 5px 20px;
    align-self: center;
}
.formPopup h1{
    margin-left: 0;
}

.formPopup .info .cols{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formPopup .info .left{
    margin-right: 20px;
}

.formPopup .field input, .formPopup select{
    display: block;
    border-radius: 4px;
    height: 30px;
    width: 230px;
    padding: 5px;
    margin: 3px;
}

.formPopup .expand{
    width: 100%;
    text-align: left;
}

.formPopup .expand input{
    width: 80%;
    height: 30px;
    margin-left: 20px;
    padding: 5px;
}

.formPopup .info textarea{
    display: block;
    border-radius: 4px;
    padding: 5px;
    margin: 3px;
}

/* status */
.info .status{
    margin: 3px 0;
}

.info .status div{
    display: inline-block;
    margin-right: 20px;
}

.info .status input{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-left: 5px;
    cursor: pointer;
}

/* status: edit-form */
.info .status select{
    display: inline-block;
    width: 35%;
}

/* edit-form: detail */
.formPopup .detail{
    width: 100%;
    padding: 5px 5px 5px 20px;
}

/* edit-form: detail table */
.formPopup .detail .title{
    background-color: transparent;
    border-bottom: 2px solid black;
}

/* button */
.buttons{
    margin-top: 20px;
}

.buttons button{
    cursor: pointer;
    width: 80px;
    margin-right: 50px;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    background-color: lightseagreen;
    transition: 0.2s;
}

.buttons .edit{
    width: 100px;
}

.buttons button[type="button"]{
    margin-right: 20px;
}
.buttons button:hover{
    transform: translateY(-1px);
    background-color: lightskyblue;
}
/***End: FormFill***/