* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*--------------------------------------------*/
/* phần này css navbar*/
.header-navbar-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    background-color: #fff;
}

.header-navbar-items {
    margin-right: 50px;
    position: relative;
}

.header-navbar-items img{
    width: 250px;
}

.header-navbar-items-SignIn-SignUp {
    display: flex;
    font-size: 13px;
    position: absolute;
    left: 60px;
    width: 130px;
    top: 5px;
}

.header-navbar-items-SignIn {
    margin-right: 5px;
}

.header-navbar-items-SignIn:hover {
    color: #696969;
}

.header-navbar-items-SignUp:hover {
    color: #696969;
}

.header-navbar-items-SignUp {
    text-decoration: none;
}

.header-navbar-items-Cart-SignIn-SignUp {
    display: flex;
    position: relative;
}

.circle {
    background-color: none;
    width: 43px;
    height: 43px;
    border-radius: 100px;
    border: 1.5px solid #057A45;
    position: absolute;
    left: -7.5px;
    bottom: -7px;
}

.header-navbar-items-Cart-SignIn-SignUp i {
    font-size: 23px;
    color: #057A45;
}

#signup {
    text-decoration: none;
    color: black;
}

#signin {
    text-decoration: none;
    color: black;
}

.header-navbar-items-separate {
    display: block;
    width: 0.5px;
    background-color: #333;
    margin-right: 5px;
    height: 14px;
    transform: translateY(1px);
}

/*chỗ này là css phần ô search*/
.header-navbar-items-search {
    position: relative;
    margin-right: 30px;
}
.header-navbar-items-search input{
    height: 32px;
    width: 500px;
    border-radius: 50px;
    border: 1px solid #CCCCCC;
    background-color: #F3F3F3;
    padding-left: 45px;
}

.header-navbar-items-search i {
    position: absolute;
    left: 11px;
    top: 8.5px;
    color: #666665;
    font-size: 17px;
}

.header-navbar-items-search .findBook-button {
    position: absolute;
    width: 75px;
    right: 3px;
    top: 3px;
    padding: 5px 4px 5px 4px;
    border-radius: 20px;
    border: none;
    background-color: #057A45;
    color: #fff;
    text-shadow: 1px 1px #6AB090;
    cursor: pointer;
}


.container-top-book-catalogue {
    width: 100%;
    height: 45px;
    background-color: #057A45;
    display: block;
}

.container-top-book-catalogue-content {
    width: 1080px;
    margin: auto;
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
}

.container-top-book-catalogue-content-left {
    display: flex;
    cursor: pointer;
    margin-left: 5px;
}

.container-top-book-catalogue-content-left p {
    font-size: 15px;
    color: #fff;
}

.container-top-book-catalogue-content-left i {
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
}

.container-top-book-catalogue-content-right {
    display: flex;
}

.container-top-book-catalogue-content-right p {
    font-size: 12px;
    color: #fff;
    margin-top: 4px;
}

.container-top-book-catalogue-content-right i {
    font-size: 15px;
    color: #fff;
    margin-right: 5px;
}

/* Phần này css Banner với Drop-down List */
/*-------------------------------*/
/* Phần này css drop-down List*/
.container-top-dropDownList-and-banner {
    width: 1080px;
    margin: auto;
    display: flex;
}

.container-top-dropDownList-and-banner-left {
    flex: 25%;
    border: 1px solid #A9A9A9;
    background-color: #fff;
    height: 100%;
    padding-bottom: 5px;
}

.container-top-dropDownList-and-banner-right {
    flex: 80%;
}

.container-top-dropDownList-and-banner-left-list-items {
    padding: 5px;
    border-top: 0.5px solid #ECECEC;
    font-size: 12.5px;
    color: #383838;
}

.container-top-dropDownList-and-banner-left-list-items-text {
    margin-left: 10px;
    margin-top: 5px;
}

.dropbtn {
    color: white;
    font-size: 16px;
    position: relative;
    display: block;
    cursor:pointer;
}

.container-top-book-catalogue-content-left-dropdown {
    position: relative;
    display: inline-block;
}
 
.container-top-book-catalogue-content-left-dropdown i {
    font-size: 17px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 7px 0px;
    text-decoration: none;
    display: block;
}
  
.dropcheck {
      position: absolute;
      left: -9999px;
}

.dropcheck:checked ~ .dropdown-content {
    display: block;
    margin-top: 15px;
}
/*--------------------------------------------*/
/* phần này css form Đăng ký */
.container {
    margin: auto;
    width: 700px;
    height: 600px;
}

.container-form {
    margin-top: 100px;
    width: 360px;
    height: 450px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    box-shadow: 0px 0px 30px #CCCCCC;
}

.container-form-row1 {
    text-align: center;
    color: #057A45;
    font-size: 18px;
    border-bottom: 0.5px solid #CCCCCC;
    padding-bottom: 3px;
}

.container-form-row2-newPassword {
    margin-top: 30px;
}
.container-form-row2-newPassword span {
    font-size: 12px;
    color: #757585;
}

.container-form-row2-newPassword input {
    margin-top: 3px;
    height: 28px;
    width: 100%;
    border-radius: 3px;
    border: 0.5px solid #CCCCCC;
    padding-left: 30px;
}

.container-form-row2-newPassword-ds {
    position: relative;
}

.container-form-row2-newPassword-ds i {
    position: absolute;
    font-size: 17px;
    top: 5px;
    left: 2px;
    color: #696969;
    padding: 5px;
    border-radius: 3px;
}


.container-form-row3-confirmPassword {
    margin-top: 15px;
}

.container-form-row3-confirmPassword span {
    font-size: 12px;
    color: #757585;
}

.container-form-row3-confirmPassword-ds {
    position: relative;
}

.container-form-row3-confirmPassword-ds i {
    position: absolute;
    font-size: 17px;
    top: 5px;
    left: 2px;
    color: #696969;
    padding: 5px;
    border-radius: 3px;
}

.container-form-row3-confirmPassword-ds input {
    margin-top: 3px;
    height: 28px;
    width: 100%;
    border-radius: 3px;
    border: 0.5px solid #CCCCCC;
    padding-left: 30px;
}

.container-form-row4 input{
    width: 100%;
    color: #F3F3F3;
    background-color: #2aa515;
    border: none;
    border-radius: 3px;
    padding: 8px 0px;
    cursor: pointer;
    margin-top: 30px;
}

.container-form-row4 input:hover {
    background-color: #29bf66;
}

.container-form-row5 {
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
}

.container-form-row5 a {
    text-decoration: none;
    color: #0066C0;
}

.container-form-row5 a:hover {
    text-decoration: underline;
    color: #6495ED;
}

.container-form-row3-confirmPassword-notMatch {
    font-size: 11px;
    color: #ff3c3c;
    margin-top: 5px;
}
/*--------------------------------------------*/
/*--------------------------------------------*/
/* phần này css Footer */
.footer-row2 {
    background-color: #ECECEC;
    height: 200px;
    border-top: 3px solid #CCCCCC;
    border-bottom: 3px solid #CCCCCC;
}

.footer-row2-content {
    margin-left: 200px;
    margin-top: 20px;
    display: flex;
}

.footer-row2-content-items-left1 img {
    width: 200px;
}

.footer-row2-content-items-left2 {
    font-size: 13px;
    margin-left: 30px;
}

.footer-row2-content-items-left3 {
    margin-top: 22px;
}

.footer-row2-content-items-left3-img1 {
    margin-bottom: 17px; 
    margin-right: 15px;
    width: 150px;
}

.footer-row2-content-items {
    margin-right: -40px;
}

.footer-row2-content-items-right1 {
    font-size: 13px;
}

.footer-row2-content-items-right2 {
    font-size: 11.5px;
    margin-top: 7px;
    color: #333;
}
/*--------------------------------------------*/