* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}
/*--------------------------------------------*/
/* phần này css navbar*/
.header-navbar-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    background-color: #fff;
}

.header-navbar-items {
    margin-right: 50px;
    position: relative;
}

.header-navbar-items img{
    width: 250px;
}

.header-navbar-items-SignIn-SignUp {
    display: flex;
    font-size: 13px;
    position: absolute;
    left: 60px;
    width: 150px;
    top: 5px;
}

.header-navbar-items-SignIn {
    margin-right: 5px;
}

.header-navbar-items-SignIn:hover {
    color: #696969;
}

.header-navbar-items-SignUp:hover {
    color: #696969;
}

.header-navbar-items-SignUp {
    text-decoration: none;
}

.header-navbar-items-Cart-SignIn-SignUp {
    display: flex;
    position: relative;
}

.circle {
    background-color: none;
    width: 43px;
    height: 43px;
    border-radius: 100px;
    border: 1.5px solid #057A45;
    position: absolute;
    left: -7.5px;
    bottom: -7px;
}

.header-navbar-items-Cart-SignIn-SignUp i {
    font-size: 23px;
    color: #057A45;
}

#signup {
    text-decoration: none;
    color: black;
}

#signin {
    text-decoration: none;
    color: black;
}

.header-navbar-items-separate {
    display: block;
    width: 0.5px;
    background-color: #333;
    margin-right: 5px;
    height: 14px;
    transform: translateY(1px);
}

/*chỗ này là css phần ô search*/
.header-navbar-items-search {
    position: relative;
    margin-right: 30px;
}
.header-navbar-items-search input{
    height: 32px;
    width: 500px;
    border-radius: 50px;
    border: 1px solid #CCCCCC;
    background-color: #F3F3F3;
    padding-left: 45px;
}

.header-navbar-items-search i {
    position: absolute;
    left: 11px;
    top: 8.5px;
    color: #666665;
    font-size: 17px;
}

.header-navbar-items-search .findBook-button {
    position: absolute;
    width: 75px;
    right: 3px;
    top: 3px;
    padding: 5px 4px 5px 4px;
    border-radius: 20px;
    border: none;
    background-color: #057A45;
    color: #fff;
    text-shadow: 1px 1px #6AB090;
    cursor: pointer;
}
/*--------------------------------------------*/
/* CONTAINER */
.container {
    padding-top: 30px;
    margin: auto;
    width: 1080px;
    height: 100%;
    padding-bottom: 50px;
}

.container-row1 {
    display: flex;
}

.container-row1-left {
    width: 50%;
    border-right: 0.5px solid #CCCCCC;
}

.container-row1-left-group2 {
    margin-top: 50px;
}

.container-row1-middle {
    border-right: 1px solid #ccc;
    flex: 40%;
}

.container-row1-right {
    margin-left: 25px;
    width: 50%;
}

input[type=radio] {
    width: 15px;
    height: 15px;
}

.container-row1-middle {
    padding-left: 20px;
}

.container-row1-title {
    color: #117c47;
    font-size: 18px;
}

.container-row1-left-paymentMethods {
    padding: 15px 25px 0px 15px;
}

.container-row1-left-paymentMethods-COD {
    font-size: 16px;
    color: #333;
}

.container-row1-left-paymentMethods-COD p {
    color: #4e4d47;
    font-size: 12px;
    padding-left: 25px;
}

.container-row1-middle-productList {
    margin-top: 20px;
}

.container-row1-middle-productList-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-row1-middle-productList-items1-detail1 img {
    width: 50px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
}

.container-row1-middle-productList-items1 {
    display: flex;
    align-items: center;
}

.container-row1-middle-productList-items1-detail2 {
    margin-left: 10px;
}

.container-row1-middle-productList-items1-detail4 {
    margin-top: 10px;
    color: #757373;
}

.container-row1-middle-productList-items2 span {
    padding-right: 10px;
    font-weight: 600;
}

.container-row3-form-items {
    display: flex;
    flex-direction: column;
}

.container-row3-form-items strong {
    font-weight: 500;
    width: 130px;
    display: inline-block;
    font-size: 14px;
    color: #4e4d47;
}

.container-row3-form-items input {
    margin-top: 10px;
    width: 90%;
    height: 28px;
    border: 0.5px solid #cdcdcd;
    border-radius: 3px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.container-row3-form-items {
    margin-bottom: 10px;
}

.container-row3-form-items {
    margin-bottom: 10px;
}

.container-row3-form-items {
    margin-bottom: 10px;
}

.container-row3 {
    margin-top: 20px;
}

.container-row3-form {
    padding-top: 20px;
    padding-left: 20px;
}

.container-row3-form-shippingPrice p {
    color: #4e4d47;
    font-size: 12px;
    margin-top: 15px;
}

.container-row3-form-submitButton input {
    margin-top: 15px;
    padding: 9px 18px;
    font-size: 12px;
    float: right;
    background-color: #228B22;
    border: 0.5px solid #006400;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.container-row3-form-submitButton input:hover {
    background-color: #117c47;
}


.container-row2-right {
    padding-left: 20px;
}
.container-row2-right-payment {
    border: 1px solid #CCCCCC;
}

.container-row2-right-row1 {
    text-align: center;
    padding: 10px 0;
    background-color: #117c47;
    color: #fff;
    border-bottom: 1px solid #CCCCCC;
}

.container-row2-right-row2 {
    padding: 15px;
    color: #66645c;
}

.container-row2-right-row2-quantity {
    display: flex;
    justify-content: space-between;
    font-size: 13.5px;
    margin-bottom: 5px;
}

.container-row2-right-row2-shippingPrice {
    display: flex;
    justify-content: space-between;
    font-size: 13.5px;
}

.container-row2-right-row2-vat {
    float: right;
    font-size: 12px;
    margin-top: 20px;
}

.container-row2-right-row2-total {
    color: #f6001a;
    font-weight: 600;
}

.container-row2-right-row2-total {
    margin-top: 20px;
    border-top: 0.5px solid #66645c;
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.container-row4 {
    display: flex;
    margin-top: 150px;
    justify-content: center;
}

.container-row4-backButton button {
    font-size: 17px;
    padding: 10px 70px;
    color: #fff;
    background-color: #CCCCCC;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}

.container-row4-backButton button:hover {
    background-color: #117c47;
}

.container-row4-nextButton input {
    font-size: 17px;
    padding: 10px 60px;
    color: #333;
    background-color: #fdc92d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container-row4-nextButton input:hover {
    color: #fdc92d;
    background-color: #000;
    cursor: pointer;
}

.container-row2-right-row2-paymentMethods {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-top: 5px;
}



.container-top-book-catalogue {
    width: 100%;
    height: 45px;
    background-color: #057A45;
    display: block;
}

.container-top-book-catalogue-content {
    width: 1080px;
    margin: auto;
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
}

.container-top-book-catalogue-content-left {
    display: flex;
    cursor: pointer;
    margin-left: 5px;
}

.container-top-book-catalogue-content-left p {
    font-size: 15px;
    color: #fff;
}

.container-top-book-catalogue-content-left i {
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
}

.container-top-book-catalogue-content-right {
    display: flex;
}

.container-top-book-catalogue-content-right p {
    font-size: 12px;
    color: #fff;
    margin-top: 4px;
}

.container-top-book-catalogue-content-right i {
    font-size: 15px;
    color: #fff;
    margin-right: 5px;
}

/* Phần này css Banner với Drop-down List */
/*-------------------------------*/
/* Phần này css drop-down List*/
.container-top-dropDownList-and-banner {
    width: 1080px;
    margin: auto;
    display: flex;
}

.container-top-dropDownList-and-banner-left {
    flex: 25%;
    border: 1px solid #A9A9A9;
    background-color: #fff;
    height: 100%;
    padding-bottom: 5px;
}

.container-top-dropDownList-and-banner-right {
    flex: 80%;
}

.container-top-dropDownList-and-banner-left-list-items {
    padding: 5px;
    border-top: 0.5px solid #ECECEC;
    font-size: 12.5px;
    color: #383838;
}

.container-top-dropDownList-and-banner-left-list-items-text {
    margin-left: 10px;
    margin-top: 5px;
}

.dropbtn {
    color: white;
    font-size: 16px;
    position: relative;
    display: block;
    cursor:pointer;
}

.container-top-book-catalogue-content-left-dropdown {
    position: relative;
    display: inline-block;
}
 
.container-top-book-catalogue-content-left-dropdown i {
    font-size: 17px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 7px 0px;
    text-decoration: none;
    display: block;
}
  
.dropcheck {
      position: absolute;
      left: -9999px;
}

.dropcheck:checked ~ .dropdown-content {
    display: block;
    margin-top: 15px;
}

ul li {
    list-style: none;
}
/*--------------------------------------------*/
/*--------------------------------------------*/
/* phần này css Footer */
.footer-row2 {
    background-color: #ECECEC;
    height: 200px;
    border-top: 3px solid #CCCCCC;
    border-bottom: 3px solid #CCCCCC;
}

.footer-row2-content {
    margin-left: 200px;
    margin-top: 20px;
    display: flex;
}

.footer-row2-content-items-left1 img {
    width: 200px;
}

.footer-row2-content-items-left2 {
    font-size: 13px;
    margin-left: 30px;
}

.footer-row2-content-items-left3 {
    margin-top: 22px;
}

.footer-row2-content-items-left3-img1 {
    margin-bottom: 17px; 
    margin-right: 15px;
    width: 150px;
}

.footer-row2-content-items {
    margin-right: -40px;
}

.footer-row2-content-items-right1 {
    font-size: 13px;
}

.footer-row2-content-items-right2 {
    font-size: 11.5px;
    margin-top: 7px;
    color: #333;
}
/*--------------------------------------------*/