* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #0066C0;
}
/*--------------------------------------------*/
/* phần này css navbar*/
.header-navbar-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    background-color: #fff;
}

.header-navbar-items {
    margin-right: 50px;
    position: relative;
}

.header-navbar-items img{
    width: 250px;
}

.header-navbar-items-SignIn-SignUp {
    display: flex;
    font-size: 13px;
    position: absolute;
    left: 60px;
    width: 130px;
    top: 5px;
}

.header-navbar-items-SignIn {
    margin-right: 5px;
}

.header-navbar-items-SignIn:hover {
    color: #696969;
}

.header-navbar-items-SignUp:hover {
    color: #696969;
}

.header-navbar-items-SignUp {
    text-decoration: none;
}

.header-navbar-items-Cart-SignIn-SignUp {
    display: flex;
    position: relative;
}

.circle {
    background-color: none;
    width: 43px;
    height: 43px;
    border-radius: 100px;
    border: 1.5px solid #057A45;
    position: absolute;
    left: -7.5px;
    bottom: -7px;
}

.header-navbar-items-Cart-SignIn-SignUp i {
    font-size: 23px;
    color: #057A45;
}

#signup {
    text-decoration: none;
    color: black;
}

#signin {
    text-decoration: none;
    color: black;
}

.header-navbar-items-separate {
    display: block;
    width: 0.5px;
    background-color: #333;
    margin-right: 5px;
    height: 14px;
    transform: translateY(1px);
}

/*chỗ này là css phần ô search*/
.header-navbar-items-search {
    position: relative;
    margin-right: 30px;
}
.header-navbar-items-search input{
    height: 32px;
    width: 500px;
    border-radius: 50px;
    border: 1px solid #CCCCCC;
    background-color: #F3F3F3;
    padding-left: 45px;
}

.header-navbar-items-search i {
    position: absolute;
    left: 11px;
    top: 8.5px;
    color: #666665;
    font-size: 17px;
}

.header-navbar-items-search .findBook-button {
    position: absolute;
    width: 75px;
    right: 3px;
    top: 3px;
    padding: 5px 4px 5px 4px;
    border-radius: 20px;
    border: none;
    background-color: #057A45;
    color: #fff;
    text-shadow: 1px 1px #6AB090;
    cursor: pointer;
}
/*--------------------------------------------*/
/*------------ CONTAINER (BEGINNING) ------------*/
/* phần này css Line Danh Mục Sản Phẩm */
.container-top {
    background-color: #F2F5F7;
}

.container-top-book-catalogue {
    width: 100%;
    height: 45px;
    background-color: #057A45;
    display: block;
}

.container-top-book-catalogue-content {
    width: 1080px;
    margin: auto;
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
}

.container-top-book-catalogue-content-left {
    display: flex;
    cursor: pointer;
    margin-left: 5px;
}

.container-top-book-catalogue-content-left p {
    font-size: 15px;
    color: #fff;
}

.container-top-book-catalogue-content-left i {
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
}

.container-top-book-catalogue-content-right {
    display: flex;
}

.container-top-book-catalogue-content-right p {
    font-size: 12px;
    color: #fff;
    margin-top: 4px;
}

.container-top-book-catalogue-content-right i {
    font-size: 15px;
    color: #fff;
    margin-right: 5px;
}

/*--------------------------------------------*/
/* Phần này CSS container bottom*/
.container-bottom {
    padding-bottom: 100px;
    width: 1000px;
    margin: auto;
    display: flex;
    background-color: #fff;
}

.container-bottom-content1-row1 {
    display: flex;
    padding-top: 60px;
    padding-bottom: 40px;
    border-bottom: 1px dashed #CCCCCC;
}

.container-bottom-content1-row1-left {
    flex: 20%;
}

.container-bottom-content1-row1-middle {
    flex: 80%;
    padding-left: 30px;
}

.container-bottom-content1-row1-left img {
    width: 220px;
    /* height: 320px; */
    box-shadow: 3px 5px 10px #808080;
}

.container-bottom-content1-row1-items-text1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 8px;
}

.container-bottom-content1-row1-items-text2 {
    font-size: 13px;
    margin-bottom: 5px;
}

.container-bottom-content1-row1-items-price {
    width: 100%;
    height: 90%;
    position: relative;
    border: none;
}

.container-bottom-content1-row1-items-priceContent {
    padding: 15px;
}

.container-bottom-content1-row1-items-priceContent-row1 {
    font-size: 15.5px;
    border-bottom: 0.5px dashed #CCCCCC;
    padding-bottom: 10px;
}

.container-bottom-content1-row1-items-priceContent-row2 {
    margin-top: 20px;
    border-bottom: 0.5px dashed #CCCCCC;
}

.list-price .discount{
    color: #666471;
    text-decoration: line-through;
}

.list-price{
    display: flex;
    align-items: center;
}

.list-price .new-price{
    color: red;
    font-weight: 500;
    font-size: 30px;
    margin-right: 10px;
}


.list-price .old-price{
    color: #66645C;
    font-weight: 400;
    font-size: 20px;
    text-decoration: line-through;
}

.float-left {
    float: left;
    font-size: 14px;
}

.cover-price {
    text-decoration: line-through;
    color: #666471;
    font-size: 14px;
}

.sale-price {
    font-size: 18px;
    color: #CA2027;
}

.saved {
    font-size: 14px;
    color: #057A45;
}
.float-right {
    float: right;
}

.container-bottom-content1-row1-items-priceContent-row3 {
    display: block;
    margin-top: 12px;
}

.container-bottom-content1-row1-items-priceContent-row3-text1 {
    float: right;
    color: #057A45;
    font-size: 13.5px;
}

.container-bottom-content1-row1-items-priceContent-row3-text2 {
    margin-top: 22px;
    font-size: 10px;
    color:#808080;
}

.container-bottom-content1-row1-items-priceContent-row3-button {
    margin-top: 20px;
    margin-left: 5px;
}

.container-bottom-content1-row1-items-priceContent-row3-button button{
    background-color: #FFC705;
    transition: 0.3s;
    border: 2px solid #E1AF04;
    border-radius: 2px;
    font-size: 13px;
    padding: 10px 30px;
    cursor: pointer;
    text-align: center;
    color: #9c6626;
}

.container-bottom-content1-row1-items-priceContent-row3-button button i {
    margin-right: 8px;
    font-size: 17px;
}

.container-bottom-content1-row1-items-priceContent-row3-button button:hover {
    background-color: #FFD400;

}

.container-bottom-content1-row2 {
    margin-top: 20px;
}
.container-bottom-content1-row2-title {
    color: #057A45;
    font-size: 14px;
    border-bottom: 3px solid #057A45;
    padding-bottom: 7px;
    width: 170px;
    margin-top: 30px;
}

.container-bottom-content1-row2-content {
    color: #66645C;
    margin-top: 30px;
    font-size: 14px;
}

.container-bottom-content1-row2-content-text1 {
    margin-bottom: 10px;
}

.container-bottom-content1-row2-content-text2{
    width: 800px;
    word-wrap: break-word
}

.container-bottom-content1-row2-content-text3 {
    font-size: 12px;
    margin-top: 15px;
}

.container-bottom-content1-row2-content-detail {
    display: flex;
}

.container-bottom-content1-row2-content-detail strong{
    font-weight: 500;
    width: 145px;
    display: inline-block;
}

.container-bottom-content1-row2-content-detail-list {
    margin-right: 150px;
    margin-top: 30px;
    font-size: 13.5px;  
    padding-left: 15px;  
}

.container-bottom-content1-row2-content-detail-list li {
    margin-bottom: 10px;
}



.container-top-book-catalogue {
    width: 100%;
    height: 45px;
    background-color: #057A45;
    display: block;
}

.container-top-book-catalogue-content {
    width: 1080px;
    margin: auto;
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
}

.container-top-book-catalogue-content-left {
    display: flex;
    cursor: pointer;
    margin-left: 5px;
}

.container-top-book-catalogue-content-left p {
    font-size: 15px;
    color: #fff;
}

.container-top-book-catalogue-content-left i {
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
}

.container-top-book-catalogue-content-right {
    display: flex;
}

.container-top-book-catalogue-content-right p {
    font-size: 12px;
    color: #fff;
    margin-top: 4px;
}

.container-top-book-catalogue-content-right i {
    font-size: 15px;
    color: #fff;
    margin-right: 5px;
}

/* Phần này css Banner với Drop-down List */
/*-------------------------------*/
/* Phần này css drop-down List*/
.container-top-dropDownList-and-banner {
    width: 1080px;
    margin: auto;
    display: flex;
}

.container-top-dropDownList-and-banner-left {
    flex: 25%;
    border: 1px solid #A9A9A9;
    background-color: #fff;
    height: 100%;
    padding-bottom: 5px;
}

.container-top-dropDownList-and-banner-right {
    flex: 80%;
}

.container-top-dropDownList-and-banner-left-list-items {
    padding: 5px;
    border-top: 0.5px solid #ECECEC;
    font-size: 12.5px;
    color: #383838;
}

.container-top-dropDownList-and-banner-left-list-items-text {
    margin-left: 10px;
    margin-top: 5px;
}

.dropbtn {
    color: white;
    font-size: 16px;
    position: relative;
    display: block;
    cursor:pointer;
}

.container-top-book-catalogue-content-left-dropdown {
    position: relative;
    display: inline-block;
}
 
.container-top-book-catalogue-content-left-dropdown i {
    font-size: 17px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 7px 0px;
    text-decoration: none;
    display: block;
}
  
.dropcheck {
      position: absolute;
      left: -9999px;
}

.dropcheck:checked ~ .dropdown-content {
    display: block;
    margin-top: 15px;
}

ul li {
    list-style: none;
}

/*--------------------------------------------*/
/*------------ CONTAINER (FINISHING) ------------*/
/*--------------------------------------------*/
/*--------------------------------------------*/
/* phần này css Footer */

.footer-row2 {
    background-color: #ECECEC;
    height: 200px;
    border-top: 3px solid #CCCCCC;
    border-bottom: 3px solid #CCCCCC;
}

.footer-row2-content {
    margin-left: 200px;
    margin-top: 20px;
    display: flex;
}

.footer-row2-content-items-left1 img {
    width: 200px;
}

.footer-row2-content-items-left2 {
    font-size: 13px;
    margin-left: 30px;
}

.footer-row2-content-items-left3 {
    margin-top: 22px;
}

.footer-row2-content-items-left3-img1 {
    margin-bottom: 17px; 
    margin-right: 15px;
    width: 150px;
}

.footer-row2-content-items {
    margin-right: -40px;
}

.footer-row2-content-items-right1 {
    font-size: 13px;
}

.footer-row2-content-items-right2 {
    font-size: 11.5px;
    margin-top: 7px;
    color: #333;
}
/*--------------------------------------------*/